<ion-view title="Principal" hide-nav-bar="true" id="page1" style="background-color:#F1F4F9;" class=" ">
    <ion-content padding="true" style="background: url(img/KqGaCZTcGu1bkPK0cTxw_blue1.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <div class="logotipo">
            <img src="img/logo_w.png" width="209" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    
            <div class="spacer" style="width: 300px; height: 75px;"></div>
            <a ng-if="registros_offline_local != '{}'" class=" button button-warning button-block" ui-sref="sincronizar">SINCRONIZAÇÃO</a>
            <ion-item class="item-divider " id="principal-list-item-divider10">Tipo de Cadastro</ion-item>
            <ion-checkbox value="1" ng-model="registro.tipo1" ng-click="check()" ng-true-value="1">MOTOBOY</ion-checkbox>
            <ion-checkbox value="2" ng-model="registro.tipo2" ng-click="check()" ng-true-value="2">CAMINHONEIRO</ion-checkbox>
            <ion-checkbox value="3" ng-model="registro.tipo3" ng-click="check()" ng-true-value="3">CONTRATANTE</ion-checkbox>
 
        <a id="principal-button19" class=" button button-positive  button-block " ng-click="goRegistro()" >CADASTRE-SE</a>
        <a id="principal-button18" class=" button button-light  button-block " ng-click="goConsultar()">CONSULTAR CADASTRO</a>
        <a href="http://www.hunchway.com/termos-e-condicoes.html" target="_blank" id="consultar-button15" class=" button button-positive  button-block button-clear btn-white ">Ao se cadastrar você aceita os Termos e Condições</a>
         <a ng-click="CloseApp()"  class=" button button-positive  button-block button-clear btn-white ">Sair</a>
    </ion-content>
</ion-view>