<ion-view title="" id="page2" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/logo.png" width="209px" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283.2px; height: 22px;"></div>
        <form id="registro-form2" class="list "  name="myForm2">
            <ion-list id="registro-list3" class=" ">
                <label class="item item-input " id="registro-input3">
                    <input type="text" required ng-model="registro.nome" uppercased placeholder="Nome Completo">
                </label>
                <label class="item item-input " id="registro-input4">
                    <input type="email" required ng-model="registro.email"  placeholder="E-mail">
                </label>
                <ion-item class="item-divider " id="registro-list-item-divider1">Perfil</ion-item>
                <label class="item item-input " id="registro-input8">
                    <input type="tel" required ng-model="registro.cpf" placeholder="CPF" ui-mask="999.999.999-99"  ui-mask-placeholder ui-mask-placeholder-char="_">
                </label>
                <label class="item item-input " id="registro-input7">
                    <input type="tel" ng-click="openDatePicker()"  required ng-model="registro.data_nascimento_human" placeholder="Data de Nascimento">
                </label>
                 <label class="item item-input " id="registro-input8" style="width:30% !important;float: left;">
                    <input type="tel" required ng-model="registro.ddd" placeholder="DDD" size="3" ui-mask="99"  ui-mask-placeholder ui-mask-placeholder-char="_">
                </label>
                <label class="item item-input " id="registro-input6" style="width:70% !important;float: left;">
                    <input type="tel" required ng-model="registro.celular" placeholder="Celular" ui-mask="99999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                </label>
                <ion-item class="item-divider " id="registro-list-item-divider9">Endereço</ion-item>
                <label class="item item-input " id="registro-input12">
                    <input type="tel" required ng-model="registro.cep" placeholder="CEP" ui-mask="99999-999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                </label>
            </ion-list>
              <a href="http://www.hunchway.com/termos-e-condicoes.html" target="_blank" id="consultar-button15" class=" button button-positive  button-block button-clear  ">Ao se cadastrar você aceita os <span class="calm">Termos e Condições</span></a>
            <a ng-click="ContinuaRegistro()" id="registro-button5" class=" button button-positive  button-block "  ng-disabled="myForm2.$invalid">CONTINUAR</a>
            <a ui-sref="consultar" id="registro-button9" class=" button button-positive  button-block button-clear ">ou já Possuo Cadastro</a>
            <span ng-bind-html="resultado"></span>
        </form>
    </ion-content>
</ion-view>
